* {
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.sidebar {
    border: 2px solid lightblue;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.header {
    border: 2px solid lightgreen;
    grid-area: 1 / 2 / 2 / 2;
    display: grid;
    grid-template-rows: 2fr 3fr;
}

.header .top{
    border: 2px solid slateblue;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header .main{
    border: 2px solid darkorchid;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.header .searchbar .profile {
    grid-row: 1 2;
}

.main-content{
    border: 2px solid lightcoral;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.main-content .projects{
    border: 2px solid darkslategray;
    grid-area: 1 / 1 / 3 / 2;
}

.main-content .announcements{
    border: 2px solid lawngreen;
    grid-area: 1 / 2 / 2 / 2;
}

.main-content .trending{
    border: 2px solid yellow;
    grid-area: 2 / 2 / 3 / 3;
}